
// 通用部分
$fontSizeS:14px;
$fontSizeM:16px;
$fontSizeL:20px;
$maxPageWidth:1180px;

html,body,div,ul,button,input,li,nav{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
ul{
  list-style: none;
}

.maxWarp{
  max-width: $maxPageWidth;
  margin-left: auto;
  margin-right: auto;
}
// 页面结构布局样式

// 组件样式


// 导航栏
.Blue_NavList{
  overflow:hidden;
  background: #000;
  a{
    width:10%;
    color:white;
    line-height: 20px;
    height: 20px;
    font-size: $fontSizeS;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
    background-color: #666;
  }
  @media (max-width: 768px){
    a{
      width: 25%;
    }
  }
  .list{
     margin-top: 10px;
     height:40px;
     transition:height 0.5s;
     overflow: hidden;
     .on{
       background-color: #666;
     }
  }
  .dropBox{
    text-align: center;
    margin-top:5px;
    margin-bottom: 2px;
  }
  .off{
    background-image:url('/../resource/images/dropDown.png');
  }
  .on{
    background-image:url('/../resource/images/pullUp.png');
  }
  button{
    width: 100px;
    height: 20px;
    background-repeat:no-repeat;
    background-position: 40px 0px;
    background-size:20px 20px;
    background-color:inherit;
  }
}

// 顶部
.Blue_Top{
  background-color:#333;
  .maxWarp{
    height: 60px;
    background:url('/build/resource/images/iqiyi-logo.png') no-repeat 0 5px;
  }
}

// 轮播图

.carousel_warp{
	height: 386px;
}

.margin{
	height: 14px;
}
.BluMUI_Carousel{
	position: relative;
  height: 339px;
	width: 1180px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
	overflow: hidden;
  .body{
  	list-style: none;
  	height: 100%;
  	width:100%;
    z-index: -1;
    transition: all 0.5s;
  	position: absolute;
    li{
       float: left;
       width: 1180px;
       height:100%;
     }
  }
  img{
  	width: 100%;
  	height: 100%;
  }
  .nav{
  	position: absolute;
  	z-index: 1;
  	width: 1180px;
  	height: 42px;
  	bottom: 0;
  	background:url('/build/resource/images/carousel_bg.png') repeat-x;
    li{
    	cursor: pointer;
    	float: left;
    	width: 28px;
    	height: 32px;
    	margin-left: 37px;
    	margin-top: 5px;
    }
    button{
      	float: left;
      	border: none;
      	width: 16px;
      	height: 32px;
      	margin-top: 5px;
      	outline: none;
      }
    .last{
      	background: url('/build/resource/images/carousel_left.png');
      	margin-right: 5px;
    }
    .next{
    	background: url('/build/resource/images/carousel_right.png');
    	float: left;
    	margin-left:99px;
    }
    .control{
    	width: 402px;
    	height: 100%;
    	margin: auto;
    }
  }
  .on{
   background:url('/build/resource/images/carousel_selected.png');
  }
  .off{
  	width: 28px;
  	height: 32px;
  	background:url('/build/resource/images/carousel_noselected.png');
   }
   .showNav{
   	float: left;
   	margin-left: 62px;
   }
}

.Blue_Container{
  #body{
    height: 500px;
    margin-top: 146px;
    transition: left 1s;
  }
  header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  footer{
    font-size: $fontSizeS;
    padding-top:15px;
    padding-bottom:15px;
    color:#999;
    text-align:center;
    background:#000;
  }
}
