// 通用部分
@import "public.scss";



// 导航栏
.Blue_NavList{
  width:100%;
  overflow:hidden;
  background: #000;
  position: absolute;
  z-index: 2;
  a{
    width:10%;
    color:white;
    line-height:0.5rem;
    height:0.5rem;
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
    background-color: #666;
  }
  @media screen and (max-device-width: 768px){
    a{
      width: 25%;
    }
  }
  .list{
     margin-top: 10px;
     height:40px;
     transition:height 0.5s;
     overflow: hidden;
     .on{
       background-color: #666;
     }
  }
  .off{
    background-image:url($host + 'dropDown.png');
  }
  .on{
    background-image:url($host + 'pullUp.png');
  }
  button{
    display: block;
    margin: auto;
    margin-top: (10rem/75);
    margin-bottom: (10rem/75);
    width: (40rem/75);
    height: (40rem/75);
    background-repeat:no-repeat;
    background-position:0 0rem;
    background-size:(40rem/75) (40rem/75);
    background-color:inherit;
  }
}

// 顶部
.Blue_Top{
  background-color:#333;
  .maxWarp{
    height:60px;
  }
  .logo{
      cursor: pointer;
      display: block;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
      height: 50px;
      width: 105px;
      background:url($host + 'iqiyi-logo.png') no-repeat 0 0px ;
      background-size: 100% 100%;
  }
  .login{
    float: right;
    color:white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
  @media screen and (max-device-width: 768px){
    .logo{
        height: (56rem/75);
        width: (168rem/75);
        margin-top: (12rem/75);
        margin-left: (10rem/75);
        background:url($host + 'iqiyi-logo-mobile.png') no-repeat 0px 0px;
        background-size:(168rem/75) (56rem/75);
    }
    .maxWarp{
      height:(80rem/75);
    }
  }
  .search{
    height: 100%;
    float: right;
    input{
      float:left;
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 5px;
      height: 30px;
      width: 185px;
      display: block;
      color:white;
      background-color: #699f00;
      border: 2px;
    }
    input::placeholder{
      color:white;
    }
    button{
      margin-top: 15px;
      display: block;
      float:left;
      height: 30px;
      width: 30px;
      background:url($host + 'search.png') no-repeat 5px 5px;
      padding: 5px;
      background-size:20px 20px;
      background-color: #699f00;
    }
    @media screen and (max-device-width: 768px){
      input{
        display: none;
      }
      button{
          margin-right: (30rem/75);
          margin-top: (14rem/75);
          background-color: inherit;
          height:(40rem/75);
          width: (40rem/75);
          background-size:(40rem/75) (40rem/75);
          background-position: 0 0;
      }
    }
  }
}


// 轮播图
.carousel_warp{
	height: 386px;
}



.margin{
	height: 14px;
}
.BluMUI_Carousel{
	position: relative;
	max-width: 1180px;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
	overflow: hidden;
  .Blue_Loading{
    width: 100%;
    height:(58rem/75);
    position: absolute;
    color:#999;
    top: 40%;
    text-align: center;
    margin-top:-(58rem/150);
    .lodingImg{
      height: (32rem/75);
      width:(32rem/75);
    }
    .failImg{
      height: (48rem/75);
      width:(48rem/75);
    }
  }
  .body{
  	list-style: none;
  	height: 100%;
  	width:100%;
    z-index: -1;
    transition: all 0.5s;
  	position: absolute;
    li{
       float: left;
       height:100%;
       position: relative;
     }
  }
  img{
  	width: 100%;
  	height: 100%;
  }
  .last{
      background-image: url($host + 'carousel_left.png');
      left: 20px;
      top:50%;
      margin-top: -16px;
      position: absolute;
  }
  .next{
    background-image:url($host + 'carousel_right.png');
    top:50%;
    margin-top: -16px;
    right: 20px;
    position: absolute;
  }
  button{
      float: left;
      display: block;
      margin-top: 5px;
      border: none;
      width: 48px;
      height: 48px;
      outline: none;
      background-color:rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-size: 18px 36px;
      background-position:15px 6px;
      border-radius: 50%;
      transition:all 0.5s;
  }
  span{
    position: absolute;
    bottom:42px;
    left:0;
    color:white;
    font-size: 0.35rem;
    text-align: center;
    width: 100%;
    height: 0.45rem;
      background: rgba(0,0,0,0.5);
    line-height:0.45rem;
    z-index:2;
    display: inline-block;
  }
  button:hover{
    background-color:rgba(255, 255, 255, 0.3);
    background-size: 12px 36px;
  }
  .nav{
  	position: absolute;
  	z-index: 1;
  	height: 42px;
    width: 100%;
  	bottom: 0;
    background: rgba(0,0,0,0.5);
    li{
    	cursor: pointer;
    	float: left;
    	width: 35px;
    	height:35px;
    	margin-left:35px;
    	margin-top: 5px;
    }
    .control{
    	width: 385px;
    	height: 100%;
    	margin: auto;
    }
    .showNav{
     float: left;
    }
    @media screen and (max-device-width: 768px){
      li{
      	width: 0.35rem;
      	height:0.35rem;
      	margin-left:0.1rem;
      	margin-top: 0.05rem;
      }
      .control{
        width:auto;
      }
      .showNav{
       float: right;
       margin-right: 0.1rem;
      }
      .next{
        margin-left: 0.2rem;
      }
      height: 0.45rem;
    }
  }
  .on{
    background:url($host + 'carousel_selected.png') no-repeat;
    background-size: 100% 100%;
  }
  .off{
  	width: 28px;
  	height: 32px;
  	background:url($host + 'carousel_noselected.png') no-repeat;
    background-size: 100% 100%;
   }
   @media screen and (max-device-width: 768px){
     margin-top: (115rem/75);
     button{
       display: none;
     }
     span{
       position: absolute;
       bottom: 0;
       left:0;
       color:white;
       font-size: 0.35rem;
       text-align: center;
       width: 100%;
       height: 0.45rem;
       line-height:0.45rem;
       z-index:2;
       background: rgba(0,0,0,0.5);
       display: inline-block;
     }
     .nav{
       background: none;
     }
   }

}

// 卡片

.Blue_CardBox{
  .more,.title{
    line-height: (80rem/75);
    background-repeat: no-repeat;
    background-size: (50rem/75) (50rem/75);
    color:#699f00;
  }
  .title{
    float: left;
    background-position:0 (15rem/75);
    padding-left: (60rem/75);
  }
  .more{
    float: right;
    width: (100rem/75);
    padding-right: (60rem/75);
    background-position:(100rem/75) (15rem/75);
    cursor: pointer;
    background-image:url($host + 'more.png');
  }
  .cardWarp{
    overflow: hidden;
    margin-top: 5px;
  }
  .header{
    overflow: hidden;
    height: (80rem/75);
    border-bottom: 1px solid #e1e1e1;
  }
  .card{
    width:25%;
    position: relative;
    float: left;
    box-sizing: border-box;
    padding:(10rem/75);
    span{
      left:0;
      margin: (10rem/75);
      text-align: center;
      display: block;
      overflow: hidden;
      color:#333;
      bottom: 0;
    }
    a{
      position: relative;
      display: block;
      font-size: 0;
    }
    img{
      width: 100%;
    }
    .extText{
      position: absolute;
      width: 100%;
      color: white;
      background-color: rgba(0,0,0,0.5);
      margin: 0;
    }
  }
}
// 顶级容器
.Blue_Container{
  #body{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    top:0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  footer{
    padding-top:15px;
    padding-bottom:15px;
    color:#999;
    text-align:center;
    background:#000;
    margin-top: 10px;
  }
}
