
// 通用部分
$fontSizeSS:12px;
$fontSizeS:14px;
$fontSizeM:16px;
$fontSizeL:20px;
$fontSizeXL:24px;
$fontSizeXLL:28px;
$maxPageWidth:1180px;
$host:'https://www.yuchenblog.cn/images/';

html,body,div,ul,button,input,li,nav{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
ul{
  list-style: none;
}

.maxWarp{
  max-width: $maxPageWidth;
  margin-left: auto;
  margin-right: auto;
}



// 页面结构布局样式

// 组件样式


// 导航栏
.Blue_NavList{
  width:100%;
  overflow:hidden;
  background: #000;
  position: absolute;
  z-index: 2;
  a{
    width:10%;
    color:white;
    line-height: 20px;
    height: 20px;
    font-size: $fontSizeS;
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
    background-color: #666;
  }
  @media (max-width: 768px){
    a{
      width: 25%;
    }
  }
  .list{
     margin-top: 10px;
     height:40px;
     transition:height 0.5s;
     overflow: hidden;
     .on{
       background-color: #666;
     }
  }
  .dropBox{
    margin-top:5px;
    margin-bottom: 2px;
  }
  .off{
    background-image:url($host + 'dropDown.png');
  }
  .on{
    background-image:url($host + 'pullUp.png');
  }
  button{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
    height: 20px;
    background-repeat:no-repeat;
    background-position: 40px 0px;
    background-size:20px 20px;
    background-color:inherit;
  }
}

// 顶部
.Blue_Top{
  background-color:#333;
  .maxWarp{
    height: 60px;
  }
  .logo{
      cursor: pointer;
      display: block;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
      height: 50px;
      width: 105px;
      background:url($host + 'iqiyi-logo.png') no-repeat 0 0px ;
      background-size: 100% 100%;
  }
  @media(max-width: 768px){
    .maxWarp{
        height: 40px;
        background-size:84px 28px;
    }
    .logo{
        height: 28px;
        width: 84px;
        margin-top: 6px;
        margin-left: 5px;
        background:url($host + 'iqiyi-logo-mobile.png') no-repeat 0px 0px;
        background-size:84px 28px;
    }
  }
  .search{
    height: 100%;
    float: right;
    input{
      float:left;
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 5px;
      height: 30px;
      width: 150px;
      display: block;
      color:white;
      background-color: #699f00;
      border: 2px;
    }
    input::placeholder{
      color:white;
    }
    button{
      margin-top: 15px;
      display: block;
      float:left;
      height: 30px;
      width: 30px;
      background:url($host + 'search.png') no-repeat 5px 5px;
      padding: 5px;
      background-size:20px  20px;
      background-color: #699f00;
    }
    @media(max-width: 768px){
      input{
        display: none;
      }
      button{
          margin-right: 15px;
          margin-top: 7px;
          background-color: inherit;
      }
    }
  }
}

// 轮播图
.carousel_warp{
	height: 386px;
}
.margin{
	height: 14px;
}
.BluMUI_Carousel{
	position: relative;
	max-width: 1180px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
	overflow: hidden;
  .body{
  	list-style: none;
  	height: 100%;
  	width:100%;
    z-index: -1;
    transition: all 0.5s;
  	position: absolute;
    li{
       float: left;
       height:100%;
       position: relative;
     }
  }
  img{
  	width: 100%;
  	height: 100%;
  }

  .nav{
  	position: absolute;
  	z-index: 1;
  	height: 42px;
    width: 100%;
  	bottom: 0;
    background: rgba(0,0,0,0.5);
    li{
    	cursor: pointer;
    	float: left;
    	width: 35px;
    	height:35px;
    	margin-left:35px;
    	margin-top: 5px;
    }
    .control{
    	width: 424px;
    	height: 100%;
    	margin: auto;
    }
    .showNav{
     float: left;
    }
    @media (max-width: 768px){
      li{
      	width: 0.35rem;
      	height:0.35rem;
      	margin-left:0.1rem;
      	margin-top: 0.05rem;
      }
      .control{
        width:auto;
      }
      .showNav{
       float: right;
       margin-right: 0.1rem;
      }
      .next{
        margin-left: 0.2rem;
      }
      height: 0.45rem;

    }
    button{
      	float: left;
        display: block;
        margin-top: 5px;
      	border: none;
      	width: 16px;
      	height: 32px;
      	outline: none;
      }
    .last{
      	background: url($host + 'carousel_left.png');
      	margin-right: 5px;
    }
    .next{
    	background: url($host + 'carousel_right.png');
    	float: left;
    	margin-left:37px;
    }
  }
  .on{
    background:url($host + 'carousel_selected.png') no-repeat;
    background-size: 100% 100%;
  }
  .off{
  	width: 28px;
  	height: 32px;
  	background:url($host + 'carousel_noselected.png') no-repeat;
    background-size: 100% 100%;
   }
   @media (max-width: 768px){
     span{
       position: absolute;
       bottom: 0;
       left:0;
       color:white;
       font-size: 0.35rem;
       text-align: center;
       width: 100%;
       height: 0.45rem;
       line-height:0.45rem;
       z-index:2;
       background: rgba(0,0,0,0.5);
       display: inline-block;
     }
     .nav{
       background: none;
     }
   }

}

// 卡片

.Blue_CardBox{
  font-size: $fontSizeM;
  .more,.title{
    font-size: $fontSizeXL;
    line-height: 40px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    color:#699f00;
  }
  .title{
    float: left;
    background-position: 5px 5px;
    padding-left: 40px;
  }
  .more{
    float: right;
    padding-right: 30px;
    background-position: 48px 5px;
    cursor: pointer;
    background-image:url($host + 'more.png');
  }
  .cardWarp{
    overflow: hidden;
    margin-top: 5px;
  }
  .header{
    overflow: hidden;
    height: 40px;
    border-bottom: 1px solid #e1e1e1;
  }
  @media(max-width: 768px){
    .more,.title{
      background-size: 20px 20px;
      font-size: $fontSizeM;
    }
    .title{
      background-position: 5px 10px;
      padding-left: 30px;
    }
    .more{
      background-position: 32px 10px;
      padding-right: 32px;
    }
  }
  .card{
    width:25%;
    position: relative;
    float: left;
    span{
      left:0;
      width: 100%;
      background: rgba(0,0,0,0.5);
      text-align: center;
      display: block;
      overflow: hidden;
      color:white;
      bottom: 0;
      position: absolute;
    }
    @media(max-width: 768px){
      span{
        font-size: $fontSizeSS;
        height: 16px;
        line-height: 16px;
      }
    }
    img{
      width: 100%;
    }
  }
}

// 顶级容器
.Blue_Container{
  #body{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    top:0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  footer{
    font-size: $fontSizeS;
    padding-top:15px;
    padding-bottom:15px;
    color:#999;
    text-align:center;
    background:#000;
    margin-top: 10px;
  }
}
