
// 通用部分
@import "public.scss";

// 页面结构布局样式

// 组件样式
.Blue_NavList{
  width:100%;
  overflow:hidden;
  background: #000;
  position: absolute;
  z-index: 2;
  a{
    width:10%;
    color:white;
    line-height:(40rem/75);
    height:(40rem/75);
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
    background-color: #666;
  }
  @media screen and (max-device-width: 768px){
    a{
      width: 25%;
    }
  }
  .list{
     margin-top: 10px;
     height:(80rem/75);
     transition:all 0.5s;
     overflow: hidden;
     .on{
       background-color: #666;
     }
  }
  .off{
    background-image:url($host + 'dropDown.png');
  }
  .on{
    background-image:url($host + 'pullUp.png');
  }
  .select{
    background: #666;
  }
  button{
    display: block;
    margin: auto;
    margin-top: (10rem/75);
    margin-bottom: (10rem/75);
    width: (40rem/75);
    height: (40rem/75);
    background-repeat:no-repeat;
    background-position:0 0rem;
    background-size:(40rem/75) (40rem/75);
    background-color:inherit;
  }
}

.Blue_Top{
  background-color:#333;
  .maxWarp{
    height:60px;
  }
  .logo{
      cursor: pointer;
      display: block;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
      height: 50px;
      width: 105px;
      background:url($host + 'iqiyi-logo.png') no-repeat 0 0px ;
      background-size: 100% 100%;
  }
  @media screen and (max-device-width: 768px){
    .logo{
        height: (56rem/75);
        width: (168rem/75);
        margin-top: (12rem/75);
        margin-left: (10rem/75);
        background:url($host + 'iqiyi-logo-mobile.png') no-repeat 0px 0px;
        background-size:(168rem/75) (56rem/75);
    }
    .maxWarp{
      height:(80rem/75);
    }
  }
  .search{
    height: 100%;
    float: right;
    input{
      float:left;
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 5px;
      height: 30px;
      width: 185px;
      display: block;
      color:white;
      background-color: #699f00;
      border: 2px;
    }
    input::placeholder{
      color:white;
    }
    button{
      margin-top: 15px;
      display: block;
      float:left;
      height: 30px;
      width: 30px;
      background:url($host + 'search.png') no-repeat 5px 5px;
      padding: 5px;
      background-size:20px 20px;
      background-color: #699f00;
    }
    @media screen and (max-device-width: 768px){
      input{
        display: none;
      }
      button{
          margin-right: (30rem/75);
          margin-top: (14rem/75);
          background-color: inherit;
          height:(40rem/75);
          width: (40rem/75);
          background-size:(40rem/75) (40rem/75);
          background-position: 0 0;
      }
    }
  }
}






.Blue_Container{
  .body{
    // height: 500px;
    margin-top: 146px;
  }
  header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
  }
  footer{
    padding-top:15px;
    padding-bottom:15px;
    color:#999;
    text-align:center;
    background:#000;
  }
  .blackBox{
    height: (20rem/75);
    background:#000;
  }
}

// ZQ item
#zq_body {
  margin-top:2.53rem;
  text-align:center;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.detail_item img{
  font-size:0.46rem;
  width: (120rem/75);
  height: (160rem/75);
}
.detail_item span{
  // font-size:$zq-font-size;
  // display:block;
  // height:30px;
  // 解除浏览器对字体大小的限制
  -webkit-text-size-adjust: none;
  // 限制行数
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

}
.detail_item {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  float: left;
  width: 147.5px;
  height: (200rem/54);
  padding: (12rem/54);
}
#details {
  // float:left;
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden;
  margin: 0 auto;
}


@media screen and (max-device-width: 768px){
  .detail_item {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float: left;
    width: 33.333333%;
    height: (200rem/54);
    padding: (12rem/54);
  }
}
@media screen and (max-width: 1196px) {
  #details {
    width: 1032.5px;
  }
}
@media screen and (max-width: 1049px) {
  #details {
    width: 885px;
  }
}
@media screen and (max-width: 901px) {
  #details {
    width: 737.5px;
  }
}


