
#pc_ranks {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  margin: 0 auto;

  .rank_item {
    width: 25%;
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: (10rem/75);

    div {

      img.pc_vip {
        position: absolute;
      }

      img.pc_pic {
        font-size: 0.46rem;
        width: 100%;
      }

      div.pc_msg {
        display: none;

        span {
          position: absolute;
          font-size: 0.3rem;
          bottom: -0.3rem;
          left: 0.1rem;
          color: #FFF;
        }
      }
    }

    div:hover .pc_msg {
      display: block;
    }

    span {
      left: 0;
      text-align: center;
      display: block;
      overflow: hidden;
      color: #333;
      bottom: 0;
      height: (62rem/75);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}

#phone_ranks {
  margin-top: 3rem;
  .rank_item {
    // float: left;/
    height: 5rem;
    width: 90%;
    text-align: left;
    margin: 0.6rem auto;
    // background: red;
    img {
      height: 5rem;
      float: left;
    }
    .phone_msg {
      display: inline-block;
      margin-left: 0.3rem;
      clear: both;
      span {}
    }
  }
}

