@import "public.scss";
// 顶部组件
.Blue_Top{
  height: (80rem/75);
  background-color:#333;
  .logo{
      height:(56rem/75);
      width: (168rem/75);
      margin-top: (12rem/75);
      margin-left: (10rem/75);
      background:url($host + 'iqiyi-logo-mobile.png') no-repeat 0px 0px;
      background-size:(168rem/75) (56rem/75);
  }
  span{
    display:block;
    color: #699f00;
    float: left;
    height: (80rem/75);
    line-height: (80rem/75);
    font-weight: bold;
    padding-left: (20rem/75);
    background: url($host + 'searchMobile/dot.png') no-repeat 0 (35rem/75);
    background-size: (10rem/75) (10rem/75);
  }
}

// 搜索组件


.Blue_SearchMobile{
  overflow: hidden;
  .inputWarp{
    background: #E6E9ED;
    padding: 0.4rem;
    position: relative;
    input{
      padding-left: 0.2rem;
      padding-right: 0.8rem;
      box-sizing: border-box;
      height: 0.8rem;
      display: block;
      color:#333;
      width: 100%;
      border: 2px;
      ::placeholder{
        color:#999;
      }
    }
    button{
        display: block;
        position: absolute;
        right: 0.4rem;
        top:0.4rem;
        height: 0.8rem;
        width: 0.8rem;
        background:url($host + 'search.png') no-repeat 0.2rem 0.2rem;
        padding: 5px;
        background-size:0.4rem  0.4rem;
        background-color: #699f00;
    }
  }
  .myHistory{
    background: #fff;
      h1{
        padding-top: 0.2rem;
        color:#699f00;
        padding-left: 0.4rem;
      }
      li{
        text-align: center;
        margin-top: 0.2rem;
        margin-left: 0.4rem;
        overflow: hidden;
        color: #999;
        margin-right: 0.4rem;
        background: #F5FAF7;
        border: 1px solid #E6E9ED;
        border-radius:3px;
      }
      p{
        color:#999;
        text-align: center;
        margin-top: 0.4rem;
      }
      .empty{
        display: block;
        width:0.7rem;
        height: 0.7rem;
        margin: auto;
        margin-top: 0.3rem;
        background:url($host + 'searchMobile/empty.png') no-repeat;
        background-size: 100% 100%;
      }
      .emptyWarn{
        margin-top: 0.1rem;
      }
  }
  .searching{
    background: #fff;
    text-align: center;
    color: #999;
    margin-top: 1rem;
  }
  .searchContent{
    overflow: hidden;
    text-align: center;
  }
}


.Blue_SearchCard{
  padding: 0.2rem;
  display: inline-block;
  text-align: justify;
  .desc{
    float: left;
    color: #333;
    margin-left: 0.5rem;
  }
  .name{
    display: block;
    margin-top: (30rem/75);
  }
  .score{
    margin-top: (50rem/75);
    display: block;
  }
  img{
    float: left;
    width:(192rem/75);
    height:(256rem/75);
    background: #333;
  }
}
