@import "public.scss";

.Blue_Container{
  header{
    background-color: #333;
  }
  footer{
    padding-top:15px;
    padding-bottom:15px;
    color:#999;
    text-align:center;
    background:#000;
    margin-top: 10px;
  }
  .backTopBtn{
      position: fixed;
      bottom: 1rem;
      right: 0.5rem;
      height: 1rem;
      width: 1rem;
      background:url($host + 'searchMobile/toTop.png') no-repeat;
      background-size: 100% 100%;
  }
}
// 顶部组件
.Blue_Top{
  height: (80rem/75);
  background-color:#333;
  .logo{
      height:(56rem/75);
      width: (168rem/75);
      margin-top: (12rem/75);
      margin-left: (10rem/75);
      background:url($host + 'iqiyi-logo-mobile.png') no-repeat 0px 0px;
      background-size:(168rem/75) (56rem/75);
  }
  span{
    display:block;
    color: #699f00;
    float: left;
    height: (80rem/75);
    line-height: (80rem/75);
    font-weight: bold;
    padding-left: (20rem/75);
    background: url($host + 'searchMobile/dot.png') no-repeat 0 (35rem/75);
    background-size: (10rem/75) (10rem/75);
  }
}

// 搜索组件


.Blue_SearchMobile{
  overflow: hidden;
  .searchWarp{
      background: #E6E9ED;
  }
  .inputWarp{
    padding: 0.4rem;
    position: relative;
    input{
      padding-left: 0.2rem;
      padding-right: 0.8rem;
      box-sizing: border-box;
      height: 0.8rem;
      display: block;
      color:#333;
      width: 100%;
      border: 2px;
      ::placeholder{
        color:#999;
      }
    }
    button{
        display: block;
        position: absolute;
        right: 0.4rem;
        top:0.4rem;
        height: 0.8rem;
        width: 0.8rem;
        background:url($host + 'search.png') no-repeat 0.2rem 0.2rem;
        padding: 5px;
        background-size:0.4rem  0.4rem;
        background-color: #699f00;
    }
  }
  .myHistory{
    background: #fff;
      h1{
        padding-top: 0.2rem;
        color:#699f00;
        padding-left: 0.4rem;
      }
      li{
        text-align: center;
        margin-top: 0.2rem;
        margin-left: 0.4rem;
        overflow: hidden;
        color: #999;
        margin-right: 0.4rem;
        background: #F5FAF7;
        border: 1px solid #E6E9ED;
        border-radius:3px;
      }
      p{
        color:#999;
        text-align: center;
        margin-top: 0.4rem;
      }
      .empty{
        display: block;
        width:0.7rem;
        height: 0.7rem;
        margin: auto;
        margin-top: 0.3rem;
        background:url($host + 'searchMobile/empty.png') no-repeat;
        background-size: 100% 100%;
      }
      .emptyWarn{
        margin-top: 0.1rem;
      }
  }
  .searching{
    background: #fff;
    text-align: center;
    color: #999;
    margin-top: 1rem;
  }

  .searchImg{
    margin: auto;
  }
  .searchContent{
    overflow: hidden;
    text-align: center;
  }
}

// 卡片组件
.Blue_SearchCard{
  padding: 0.2rem;
  overflow: hidden;
  text-align: justify;
  box-sizing: border-box;
  width: 50%;
  float: left;
  .desc{
    float: left;
    color: #333;
    margin-left: 0.5rem;
  }
  .name{
    display: block;
    margin-top: (30rem/75);
    width:5rem;
    height: (92rem/75);
  }
  img{
    float: left;
    width:(192rem/75);
    height:(256rem/75);
    background: #333;
  }
  .Blue_Score{
  	overflow: hidden;
    margin-top:(50rem/75);
    margin-right: -0.05rem;
    .star{
    	display: block;
    	float: left;
    	width: (36rem/75);
    	height: (36rem/75);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    	cursor: pointer;
    }
    .onstar{
    	background-image:url($host + 'searchMobile/star1.png');
    }
    .nostar{
    	background-image: url($host + 'searchMobile/star.png');
    }
    .score{
      display: block;
      float: left;
      line-height: (36rem/75);
      margin-left: 0.1rem;
      color:#e09015;
    }
  }

}
// 翻页组件

.BluMUI_PT{
	display: inline-block;
	height:54px;
	left:25%;
	right:25%;
	background: #ffffff;
  button{
  	float: left;
  	width: 95px;
  	height: 100%;
  }
  .last{
  	background: url($host+ "searchMobile/last.png") no-repeat 38px 21px;
  }
  .next{
  	background: url($host+ "searchMobile/next.png") no-repeat 44px 21px;
  }
  #warp {
  	background:white;
  	float: left;
    li{
    	float: left;
    	line-height:40px;
    	height: 40px;
    	width: 40px;
    	font-size: 10px;
    	text-align: center;
    	margin-top: 7px;
    }
    .cur{
    	color: white;
    	background: url($host+ "searchMobile/pageBoxSelected.png") no-repeat;
    }
    li:hover{
    	opacity: 0.5;
    	cursor: pointer;
    }
  }
}






@media screen and (max-device-width: 768px), (max-width:768px){
  .Blue_SearchCard{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    float:none;
    width: auto;
  }
}
